/* 
    Nmae: Jamal Omar AlDirawi
    Email: jamalo.dirawi@gmail.com
*/

/* Global Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-main: #242329;
    --bg-color-seconed: #bb93fc;
    --bg-color-seconed-2: #01c4ad;
    --border-color: #896ab9;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.header {
    background-color: var(--bg-color-main);
    display: grid;
    place-items: center;
    height: 100vh;
}
.container {
    padding-left: 5%;
    padding-right: 5%;
    margin-right: auto;
    margin-left: auto;
}
section h1 {
    padding-bottom:50px ;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
}

img {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

a {
    text-decoration: none !important;
}
ul {
    list-style-type: none;
}
.btn {
    margin: 20px 0;
}
.btn a {
    border: 1px solid var(--border-color);
    text-align: center;
    color: var(--border-color);
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s;
    width: 200px;
    display: inline-block;
    background: linear-gradient(to left, transparent 50%, var(--bg-color-seconed) 50%) right;
    background-size: 200%;
    transition: .5s ease;
}
.btn a:hover {
    background-position: left;
    background-color: var(--bg-color-seconed);
    color: #fff;
}

/* End Global Style */

/* ======================== Header Section ======================== */
.title span {
    --total: calc(var(--duration) + var(--delay));
    position: relative;
    display: block;
    color: transparent;
    overflow: hidden;
    font-weight: 700;
    font-size: 3rem;
    animation: revealText 1s var(--total) forwards;
}
.title .my_name {
    animation: nameText 1s var(--total) forwards;
}

.title span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--bg-color-seconed);
    animation:
        rollIn var(--duration) var(--delay) forwards,
        rollOut var(--duration) var(--total) forwards;
}

.title span:nth-child(2)::after {
    border-top: 3px solid var(--border-color);
}

@keyframes revealText {
    to {
        color: #fff;
    }
}
@keyframes nameText {
    to {
        color: var(--bg-color-seconed);
    }
}

@keyframes rollIn {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes rollOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(105%);
    }
}

@media screen and (max-width: 767px) {
    .header, .name {
        display: grid;
        place-items: center;
        text-align: center;
        padding: 0 10px;
    }
    .title span {
        font-size: 2rem;
    }
}



/* ======================== About Me Section ======================== */
.about {
    padding: 70px 0;
}

.about .me {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .about img {
    width: 350px;
} */
.about .content {
    width: 100%;
    text-align: left;
}
.about .content p {
    line-height: 1.7;
}
.about .content .btn a {
    font-size: 16px;
    width: 150px;
}


@media screen and (max-width: 992px) {
    /* .about img {
        width: 300px;
    } */
    .about .content {
        width: 100%;
        text-align: left;
    }
    .about .content p {
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    /* .about img {
        width: 300px;
        margin-bottom: 50px;
    } */
    .about .content {
        width: 100%;
        text-align: center;
    }
    .about .content p {
        font-size: 16px;
    }
    .about .me {
        flex-direction: column;
    }
}

/* ======================== Project Section ======================== */
#project {
    background-color: var(--bg-color-seconed-2);
    padding: 70px 0;
    color: #fff;
}
.projects .boxes .box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.projects .boxes .box:nth-last-child() {
    padding-bottom: 0px;
}

.projects img {
    width: 70%;
}
.projects .content {
    width: 500px;
    padding: 0 10px;
}
.projects .content h2 span {
    color: #000;
    font-weight: bold;
}
.projects .content p {
    line-height: 1.7;
    margin: 10px 0 ;
}
.projects .content .btns {
    display: flex;
}
.projects .content .btn {
    margin: 10px 10px;
}
.projects .content .btn:nth-of-type(1) {
    margin-left: 0px;
}
.projects .content .btn a {
    font-size: 16px;
    width: 150px;
    color: #000;
}

@media screen and (max-width: 1030px) {
    .projects .boxes .box {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        display: block;
    }
    .projects .content {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
    }
    .projects img {
        width: 100%;
    }
    .projects .content .btn:nth-of-type(2) {
        margin-right: 0px;
    }
}


/* ======================== Skills Section ======================== */
.skill {
    padding: 70px 0;
}
.skill h1 {
    padding-bottom: 0px;    
}
.skill p {
    text-align: center;
    padding-bottom: 30px;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color-seconed-2);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: var(--bg-color-main);
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 95%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 95%;
    }
}
.skill_bar .bar .css{
    width: 90%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .bootstrap{
    width: 85%;
    animation: bootstrap 2s;
}
@keyframes bootstrap {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .js{
    width: 75%;
    animation: js 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .react{
    width: 60%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}
.skill_bar .bar .laraval-php{
    width: 70%;
    animation: laraval-php 2s;
}
@keyframes laraval-php {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .python{
    width: 65%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mysql{
    width: 70%;
    animation: mysql 2s;
}
@keyframes mysql {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .photoshop{
    width: 80%;
    animation: photoshop 2s;
}
@keyframes photoshop {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .xd{
    width: 85%;
    animation: xd 2s;
}
@keyframes xd {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    .skills_main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ======================== Contact Section ======================== */
.contact {
    background-color: var(--bg-color-seconed-2);
    padding: 70px 0;
    color: #fff;
    display: grid;
    place-items: center;
    text-align: center;
}
.contact p {
    padding: 0;
    font-size: 20px;
}
.contact .btn {
    margin-bottom: 0px;
}
.contact .btn a {
    color: #fff;
}


/* ======================== Footer Section ======================== */
.footer {
    background-color: var(--bg-color-main);
    padding: 70px 0;
    display: grid;
    place-items: center;
    text-align: center;
    color: #fff;
}
.footer .front a{
    font-size: 50px;
    color: #fff ;
    transition: 0.3s ease;
}
.footer ul {
    display: flex;
    padding: 30px 0;
}
.footer ul li {
    padding: 2px;
}
.footer ul li a {
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s ease;
}
.footer ul li a:hover,
.footer .front a:hover {
    color: var(--bg-color-seconed-2);
}

